@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Russo+One');
.check{
  background: orange;
}
.check2{
  background: red;
}
.checkbr{
  border: 1px solid black;
}
a{
  color: #383D45;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  color: #00ABBC;
}

.clearfix:after{
   content: "";
   display: table;
   clear: both;
}
.d_left{
  float: left;
}
/*---  text   ---*/
.russo{
  font-family: 'Russo One', sans-serif;
}
.vw_medium{
    font-size: 5vw;
}
.t_light{
  font-weight: 100;
}
.t_massive{
  font-size: 8vw;
  font-weight: 900;
}
.t_white{
  color:#fff;
}
.t_bold{
  font-weight: 900;
}
.t_medium{
  font-size: 1.5rem
}
.t_big{
  font-size: 2rem
}



*{

}
body{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #383D45;
}

/*---  boostrap change   ---*/
.container-fluid{
    padding: 0px;
}



/*---   menu_banner   ---*/

        /*.main_container{
          max-width: 1440px
        }*/

header{

}
.navbar{
  padding: 0;
}
nav{
  min-height: 80px;
  position: fixed;
  overflow: hidden;
  font-weight: 900;
  font-size: 16px;
}
nav ul{
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
}
nav ul li{
  display: inline-block;
  width: 100px;
  text-align: center;
  padding-top: 5px;
  margin-right: 10px;
}
nav ul li:hover{
  padding-top: 0px;
  border-top: 5px solid #00ABBC;
}
nav ul li a{
  display: block;
  padding-top: 14px;
  height: 60px;
}
nav ul li a:hover{
  background-color: rgba(100, 100, 100, 0.05);
  transition: ease 1s;
}
.menu_banner{
  background: url(img/photo/banner.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 900px;

}



/*---   menu_banner    logo   ---*/
.logo_container{
  margin-top: 60px;
}
.logo .a_center{
  margin: 0 auto;
  width: 250px;
  height: 100px;
}
.logo img{``
  width:100px;
  height: auto;
  display: block;
}
.logo h2{
margin-top: 30px;
margin-left: 15PX;
}



/*---   menu_banner    welcome   ---*/
.welcome{
  margin-top: 50px;
}
.element{
  width:45px;
  height: 5px;
  background: red;
  margin: 0 auto;
}


/*---   little_about_me   ---*/
.show_small{
  display: none;
}
.little_about_me_container{
  height: 600px;
  margin-top: 100px;
  background:  url('img/png/and.png')no-repeat center center, linear-gradient(#00ABBC, #39AAAD);
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);

}
.layout_design{
    position: absolute;
}
.layout_design img{
  position: relative;
  width: 100%;
  height: auto;
  z-index: 10;
}
.about_me_text{
  position: absolute;
  right: 0;
  margin-top: 100px;
  margin-right: 50px;
}




/*---   navbar   ---*/
/*---   navbar   ---*/


/*---   media   ---*/
@media screen and (max-width:800px) {
.show_small{
  display: block;
}
.desapire_big{
  display: none;
}
.little_about_me_container{
  height: 900px;
}

.layout_design{

}
.layout_design img{
  width: 50%;
  display: block;
  height: auto;
  margin: 0 auto;
}
.about_me_text{
  margin-top: 380px;

}
}
@media screen and (max-width:600px) {
  .about_me_text{
    margin-top: 300px;

  }
}
