@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Russo+One');
.check{
  background: orange;
}
.check2{
  background: red;
}
.checkbr{
  border: 1px solid black;
}
a{
  color: #383D45;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  color: #00ABBC;
}
.russo{
  font-family: 'Russo One', sans-serif;
}
.clearfix:after{
   content: "";
   display: table;
   clear: both;
}
.d_left{
  float: left;
}


*{

}
body{
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: #383D45;
}

/*---  boostrap change   ---*/
.container-fluid{
    padding: 0px;
}



/*---   menu_banner   ---*/

        /*.main_container{
          max-width: 1440px
        }*/

header{
  height: 800px;
}
nav{
  height: 80px;
  position: fixed;
  overflow: hidden;
  font-weight: 900;
  font-size: 16px;
}
nav ul{
  text-decoration: none;
  height: 60px;
  text-align: center;
}
nav ul li{
  display: inline-block;
  width: 100px;
  text-align: center;
  padding-top: 5px;
  margin-right: 10px;
}
nav ul li:hover{
  padding-top: 0px;
  border-top: 5px solid #00ABBC;
}
nav ul li a{
  display: block;
  padding-top: 14px;
  height: 60px;
}
nav ul li a:hover{
  background-color: rgba(100, 100, 100, 0.05);
  transition: ease 1s;
}
.menu_banner{
  background: url(img/photo/banner.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;

}

/*---   menu_banner    logo   ---*/
.logo .a_center{
  margin: 0 auto;
  width: 250px;
  height: 100px;
}
.logo img{``
  width:100px;
  height: auto;
  display: block;
}
.logo h2{
margin-top: 30px;
margin-left: 15PX;
}

/*---   navbar   ---*/
/*---   navbar   ---*/
/*---   navbar   ---*/
